#main-content   
    .content-box    
        .content#one
            %h4 CORE
        .content#two
            %h4 POSTURE
        .content#three
            %h4 CARDIO
    .content-box  
        .content#four
            %h4 SIX PACK ABS
        .content#five
            %br
            %h1 RipFit
            %h3 The Mecca for Bodyweight Fitness
            .link
                %button{:onclick => "window.location.href= 'categories'"}
                    ENTER
        .content#six
            %h4 ASTHETICS
    .content-box  
        .content#seven
            %h4 STRENGTH
        .content#eight
            %h4 CONFIDENCE
        .content#nine
            %h4 NUTRITION

    